@import "tailwindcss";

@theme {
    --breakpoint-3xs: 320px;
    --breakpoint-2xs: 350px;
    --breakpoint-xs: 428px;
    /* --breakpoint-tablet: 900px;
    --breakpoint-wide: 1191px; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Alan: 'Alan-Sans';
  --font-Albert: 'Albert-Sans';
}

@font-face {
  font-family: 'Alan-Sans';
  src: url(/fonts/Alan-Sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert-Sans';
  src: url(/fonts/Albert-Sans.ttf) format('truetype');
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Alan: 'Alan-Sans';
  --font-Albert: 'Albert-Sans';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* .header-links{
  display: fle;
} */
/* .header-mobile{
  display: none;
}
.menu{
  display: none;
} */
.primary-btn{
  width: 200px;
  height: 52px;
  background-color: #E0B121;
  color: white;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.1s linear;
}
/* .btn2{
  width: 200px;
  height: 52px;
  color: white;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.1s linear;
} */
.imageChange {
  animation: imageChange 0.8s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.topChange {
  clip-path: inset( 0 0 100% 0);
  animation: topChange 0.8s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.sidetext {
  clip-path: inset( 0 0 100% 0);
  animation: sidetext 1.2s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.sectionChange {
  clip-path: inset(0 100% 0 0 );
  animation: sectionChange 0.5s ease-in-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
@keyframes sectionChange {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100%{
    clip-path: inset(0 0 0 0);
  }
}
@keyframes topChange {
  from {
    clip-path: inset(0 0 100% 0);
  }
  /* 60% {
    clip-path: inset(0 0 60% 0);
  } */
  to{
    clip-path: inset(0 0 0% 0);
  }
}
@keyframes sidetext {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to{
    clip-path: inset(0 0 0% 0);
  }
}
/* .btn2 span{
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  margin-left: 20px;
} */

.primary-btn span{
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: #DAA404;
  /* margin-left: 20px; */
}
/* .sec-btn{
  width: 200px;
  border: 1px solid ;
  display: flex ;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.2s ease-in-out;
} */
/* .sec-btn:hover{
  color: white;
} */
.text-slider{
  width: 100%;
  animation: text1 20s linear infinite;
}
@keyframes text1{
  0%{
    transform: translate(0%);
  }
  100%{
    transform: translate(-90%);
  }
}

/* .image-one{
  height: 75%;
}
.image-two{
  width: 75%;
} */
/* .firsthead{
  animation: firsthead 0.9s ease-in-out;
  animation-delay: 0.5s;
}
@keyframes firsthead {
  from{
    filter: blur(10px);
    clip-path: inset( 0 0 80% 0);
  }
  to{
    filter: blur(0);
    clip-path: inset(0 0 0 0);
  }
} */
.end-logo{
  background: linear-gradient(#DAA404,#FFF2CB);
}
.inner-shadow-tb {
  box-shadow:
    inset 0 150px 30px -0px rgba(247, 245, 245),
    inset 0 -150px 30px -0px rgb(247, 245, 245);
}
.mobile-story-grid{
  display: none;
}

@media (max-width: 768px)  {
  .story-section{
    height: auto;
    min-height: 250vh;
  }
  .sub-story-section{
    height: auto;
    row-gap: 15px;
  }
  .storyhead{
    position: relative;
    width: 100%;
    max-height: 40vh;
    /* padding: 40px 30px; */
  }
  .storyhead h2{
    font-size: 66px;
    line-height: 58px;
    text-align: left;
  }
  .firstscene, .secondscene{
    display: none;
  }
  /* .mobile-story-grid{
    display: flex;
  } */
  .mobile-story-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    width: 100%;
    /* padding:0px 40px; */
  }
}
















/* /////////////////////////////////////////////////// MAX 400 Start //////////////////////////////////////////////// */
