@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Alan: 'Alan-Sans';
  --font-Albert: 'Albert-Sans';
}
@font-face {
  font-family: 'Alan-Sans';
  src: url(/fonts/Alan-Sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert-Sans';
  src: url(/fonts/Albert-Sans.ttf) format('truetype');
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Alan: 'Alan-Sans';
  --font-Albert: 'Albert-Sans';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.primary-btn{
  width: 200px;
  height: 52px;
  background-color: #E0B121;
  color: white;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.1s linear;
}
.btn2{
  width: 200px;
  height: 52px;
  color: white;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.1s linear;
}
.imageChange {
  animation: imageChange 0.8s ease-in-out;
}

.topChange {
  animation: topChange 0.8s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.sidetext {
  animation: sidetext 0.8s ease-in-out;
  animation-delay: 1.8s;
  animation-fill-mode: both;
}
.sectionChange {
  animation: sectionChange 0.9s ease-in-out;
}
@keyframes sectionChange {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes imageChange {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes topChange {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sidetext {
  from{
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn2 span{
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  /* margin-left: 20px; */
}

.primary-btn span{
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: #DAA404;
  /* margin-left: 20px; */
}
.sec-btn{
  width: 200px;
  border: 1px solid ;
  display: flex ;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.2s ease-in-out;
}
.sec-btn:hover{
  color: white;
}
.text-slider{
  width: 100%;
  animation: text1 20s linear infinite;
}
@keyframes text1{
  0%{
    transform: translate(0%);
  }
  100%{
    transform: translate(-90%);
  }
}
.end-logo{
  background: linear-gradient(#DAA404,#FFF2CB);
}