@import "tailwindcss";

@theme {
    --breakpoint-3xs: 320px;
    --breakpoint-2xs: 350px;
    --breakpoint-xs: 428px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1600px;

    /* --breakpoint-tablet: 900px;
    --breakpoint-wide: 1191px; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Alan: 'Alan-Sans';
  --font-Albert: 'Albert-Sans';
}

@font-face {
  font-family: 'Alan-Sans';
  src: url(/fonts/Alan-Sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Albert-Sans';
  src: url(/fonts/Albert-Sans.ttf) format('truetype');
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Alan: 'Alan-Sans';
  --font-Albert: 'Albert-Sans';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
/* .header-links{
  display: fle;
} */
/* .header-mobile{
  display: none;
}
.menu{
  display: none;
} */
.primary-btn{
  width: 200px;
  height: 52px;
  background-color: #E0B121;
  color: white;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 30px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: var(--font-Albert);
  font: normal;
  transition: 0.1s linear;
}
/* .imageChange {
  animation: imageChange 0.8s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
} */

.image-one{
  height: 75%;
  padding-right: 40px;
}
.image-two{
  width: 100%;
}
.topChange {
  clip-path: inset( 0 0 100% 0);
  animation: topChange 0.8s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.sidetext {
  clip-path: inset( 0 0 100% 0);
  animation: sidetext 1.2s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.sectionChange {
  clip-path: inset(0 100% 0 0 );
  animation: sectionChange 0.5s ease-in-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
@keyframes sectionChange {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100%{
    clip-path: inset(0 0 0 0);
  }
}
@keyframes topChange {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to{
    clip-path: inset(0 0 0% 0);
  }
}
@keyframes sidetext {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to{
    clip-path: inset(0 0 0% 0);
  }
}
 .primary-btn span{
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: #DAA404;
  /* margin-left: 20px; */
} 
.text-slider{
  width: 100%;
  animation: text1 20s linear infinite;
}
@keyframes text1{
  0%{
    transform: translate(0%);
  }
  100%{
    transform: translate(-90%);
  }
}

.image-one{
  height: 75%;
  padding-right: 40px;
}
.image-two{
  width: 75%;
}
.end-logo{
  background: linear-gradient(#DAA404,#FFF2CB);
}
.inner-shadow-tb {
  box-shadow:
    inset 0 150px 30px -0px rgba(247, 245, 245),
    inset 0 -150px 30px -0px rgb(247, 245, 245);
}
.mobile-story-grid{
  display: none;
}

@media (max-width: 1600px) {

  .image-one{
    height: 70%;
  }
  .image-two{
    width: 6
  }
  .mg-text h2{
    font-size: 280px;
  }
  .story-image-1{
    width: 200px;
  }
  .story-image-2{
    width: 300px;
  }
  .story-image-3{
    width: 230px;
  }
  .story-image-4{
    width: 240px;
  }
  .story-image-5{
    width: 208px;
  }
  .story-image-6{
    width: 300px;
  }
  .story-image-7{
    width: 280px;
  }
  .story-image-8{
    width: 260px;
  }
}
@media (max-width: 1440px) {
  .primary-btn{
    width: 180px;
    height: 50px;
    font-size: 18px;
    gap: 12px;
  }
  .btn-secondary p{
    font-size: 18px;
  }
  .firstscene , .secondscene{
    column-gap: 22px;
  }
}
@media (max-width: 1280px)  {

  .story-image-7{
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  
  .imageChange{
    padding: 0;
  }
  .image-one{
    padding: 0;
    height: 58%;
  }
}
@media (max-width: 768px)  {
  .image-one{
    max-height: max-content;
  }
  .image-two{
    max-width: max-content;
  }
  .story-section{
    height: auto;
    min-height: 250vh;
  }
  .sub-story-section{
    height: auto;
    row-gap: 15px;
  }
  .storyhead{
    position: relative;
    width: 100%;
    max-height: 40vh;
  }
  .storyhead h2{
    font-size: 66px;
    line-height: 58px;
    text-align: left;
  }
  .firstscene, .secondscene{
    display: none;
  }
  .mobile-story-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    width: 100%;
    /* padding:0px 40px; */
  }
  .story-section{
    height: auto;
    min-height: 250vh;
  }
  .sub-story-section{
    height: auto;
    row-gap: 15px;
  }
  .storyhead{
    position: relative;
    width: 100%;
    max-height: 40vh;
    padding: 40px 30px;
  }
  .storyhead h2{
    font-size: 66px;
    line-height: 58px;
    text-align: left;
  }
  .firstscene, .secondscene{
    display: none;
  }
  .mobile-story-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    width: 100%;
    padding:0px 40px;
  }
  .insta-icon{
    bottom: 0px;
  }
  .EndDetails{
    padding: 80px 30px;
  }
  .sub-EndDetails{
    width: 100%;
  }
  .endblur1{
    font-size: 66px;
  }
  .sub-EndDetails .endblur2, .endblur3{
    font-size: 24px;
    text-wrap: wrap;
    line-height: 30px;
  }
  .footer{
    height: 100vh;
  }
  .sub-footer{
    flex-direction: column;
    row-gap: 40px;
  }
  .subscribe-footer{
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  .links-footer{
    justify-content: start;
    width: 100%;
  }
  .footer-social{
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-social div{
    width: 30%;
  }
  .f-social-01{
    justify-content: start;
    gap: 0;
  }
  .f-social-02{
    justify-content: center;
    gap: 0;
  }
  .f-social-03{
    justify-content: end;
    gap: 0;
  }
  .mg-text{
    bottom: -18%;
  }
  .mg-text h2{
    font-size: 120px;
  }
  .footer-privacy{
    background: none;
    box-shadow: none;
    bottom: 25%;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    row-gap: 10px;
  }
}

/* /////////////////////////////////////////////////// MAX 480 Start /////////////////////////////////////////////// */
@media (max-width: 480px) {
  /* //////////////////////////////Primary button//////////////////////////////// */
  .primary-btn{
    width: 150px;
    height: 45px;
    margin-top: 0;
  }
  .primary-btn p{
    font-size: 18px;
    padding-left: 8px;
  }
  .primary-btn span{
    width: 36px;
    height: 36px;
  }
  .btn-secondary{
    justify-content: center;
  }
  /* ///////////////////////////////Primary button//////////////////////////////// */
  .story-section{
    height: max-content;
  }
  .storyhead{
    max-width: 100%;
    padding: 6% 0 0 40px;
  }
  .storyhead h2{
    /* text-wrap-mode: wrap; */
    max-width: 70%;
    font-size: 46px;
    line-height: 46px;
  }
  .insta-icon{
    left: 0;
    /* width: 200px; */
  }
  .insta-icon a{
    font-size: 18px;
  }
  .sub-EndDetails{
    width: 100%;
    padding: 0;
  }
  .sub-EndDetails .endblur1{
    font-size: 46px;
  }
  .sub-EndDetails .endblur2, .endblur3{
    font-size: 20px;
  }
  .imageChange .image-one{
    height: 80%;
  }
  .imageChange .image-two{
    width: 100%;
  }
  /* ////////////////////////Footer start /////////////////////////// */
  .footer{
    width: 100%;
  }
  .sub-footer{
    width: 100%;
    padding: 24% 9%;
    row-gap: 50px;
  }
  .subscribe-footer{
    width: 100%;
  }
  .subscribe-footer h2{
    font-size: 22px;
  }
  .sub-subscribe-footer div{
    width: 100%;
  }
  .subscribe-footer p{
    font-size: 18px;
    margin-bottom: 8px;
  }
  .sub-subscribe-02 p{
    font-size: 18px;
    margin: 0;
  }
  .sub-subscribe-02 img{
    width: 100px;
  }
  .mg-text{
    bottom: -19%;
  }
  .mg-text h2{
    font-size: 70px;
  }
  .footer-social{
    width: 100%;
  }
  .footer-privacy{
    bottom: 18%;
  }


}

/* /////////////////////////////////////////////////// MAX 480 End //////////////////////////////////////////////// */

@media (max-width: 390px) {

  /* //////////////////////////////Primary button//////////////////////////////// */
  .primary-btn{
    width: 126px;
    height: 36px;
    margin-top: 0;
    gap: 16px;
  }
  .primary-btn p{
    font-size: 14px;
    padding-left: 8px;
  }
  .primary-btn span{
    width: 28px;
    height: 28px;
  }
  .storyhead{
    padding: 4% 0 0 20px;
  }
  .mobile-story-grid{
    padding: 0 20px;
  }
  .sub-footer{
    row-gap: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .subscribe-footer{
    justify-content: center;
  }
  .subscribe-footer h2{
    font-size: 20px;
    text-align: center;
  }
  .sub-subscribe-footer{
    margin-top: 6%;
    width: 100%;
  }
  .sub-subscribe-footer div{
    width: 88%;
  }
  .sub-subscribe-footer p{
    text-align: center;
  }
  .mg-text{
    bottom: -23%;
  }
  .mg-text h2{
    font-size: 64px;
  }
  .links-footer ul a{
    font-size: 16px;
  }
}